
{:htfu/entity
 {:txes [[{:db/id #db/id [:db.part/db]
           :db/ident :item/title
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db.install/_attribute :db.part/db}
          {:db/id #db/id [:db.part/db]
           :db/ident :item/desc
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db.install/_attribute :db.part/db}]]}

 :didagraph/set-data
 {:txes [[{:db/id #db/id [:db.part/user -1]
           :item/title "Test test title"
           :item/desc "Test test desc Test test desc Test test desc Test test desc Test test desc Test test desc Test test desc Test test desc Test test desc Test test desc Test test desc "}]]
  :requires [:htfu/entity]}}

